:root {
  --red: #e40000;
  --green_medium: #32b333;
  --dark-slate-blue: #1a2a57;
  --tangerine: #f6881f;
  --light-grey: rgba(216, 216, 216, 0.2);
  --brown-grey: #7c7c7c;
  --white: #ffffff;
}

.App {
  background-color: var(--brown-grey);
}


.iphone-size {
  z-index: 2;
  width: 320px;
  margin: auto;
  background-color: var(--white);
  box-shadow: 0 0 10px black;
  opacity: 1;
}
