:root {
  --red: #e40000;
  --green_medium: #32b333;
  --dark-slate-blue: #1a2a57;
  --tangerine: #f6881f;
  --light-grey: rgba(216, 216, 216, 0.2);
  --brown-grey: #7c7c7c;
  --white: #ffffff;
}

.admin-ticket-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.admin-ticket-button{
    height: 80px;
    width: 80px;
    padding: 5px;
    margin: 5px;
    border: 2px solid var(--green_medium);
    border-radius: 3px;
    font-size: 12px;
    text-decoration: none;
    color: var(--dark-slate-blue);
}

.admin-ticket-detail{
    display: flex;
    flex-direction: column;
}


.admin-ticket-field-container{
    display: flex;
    font-size: 16px;
}

.admin-ticket-field{
    width: 45%;
    font-weight: bold;
    text-align: left;
    padding: 5px;
    margin: 1px;
    border-top: dashed 1px;
    border-left: dashed 1px;
}

.admin-ticket-value{
    width: 45%;
    text-align: left;
    padding: 5px;
    margin: 1px;
    border-top: dashed 1px;
}

.admin-ticket-value.edit{
    font-size: 16px;
    padding: 0 0 0 2px;
    margin: 1px;
    background-color: var(--tangerine);
}

.edit.checkbox{
    width: 20px;
    height: 20px;
}

button{
    font-size: 16px;
    border: 3px solid var(--brown-grey);
    padding: 5px 10px;
    margin: 3px;
    border-radius: 2px;
    font-weight: bold;
    color: white;
    background-color: var(--dark-slate-blue);
}

button.delete{
    background-color: var(--red);
}