:root {
    --red: #e40000;
    --green_medium: #32b333;
    --dark-slate-blue: #1a2a57;
    --tangerine: #f6881f;
    --light-grey: rgba(216, 216, 216, 0.2);
    --brown-grey: #7c7c7c;
    --white: #ffffff;
  }

.tabs a {
    color: var(--dark-slate-blue);
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 66px 8px 8px 8px;
    margin: 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border: solid 2px var(--dark-slate-blue);
    background-color: var(--white);
}

.tabs a.active {
    border: none;
    box-shadow: none;
}
 
.bus-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.bus-box {
    width: 320px;
    height: 69px;
    background-color: rgba(216, 216, 216, 0.25);
    margin-top: 10px;
}

.bus-number {
    font-size: 14px;
    font-weight: normal;
    padding: 0px 0px 0px 82px;
    margin: 0 auto;
}

.bus-middle {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

.bus-img {
    float: left;
    padding: 6px 0px 0px 0px;
    width: 131px;
    height: 14px;
    object-fit: contain;
}

.bus-platform {
    font-size: 22px;
    font-weight: bold;
    color: var(--dark-slate-blue);
}

.bus-status {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.bus-times {
    float: left;
    font-size: 13px;
    font-weight: bold;
    padding: 0px 0px 0px 25px;
    color: var(--tangerine);
}

.end-time {
    padding: 0px 0px 0px 65px;
}


.bus-headers {
    float: right;
    font-size: 15px;
    padding: 10px 8px 0px 0px;
    color: var(--dark-slate-blue);
}

.back-button {
    margin-top: 20px;
    padding: 8px;
    display: flex;
    align-content: left;
}

.back {
    font-family: Arial;
    font-size: 13px;
    padding: 5px;
    text-align: center;
    color: var(--dark-slate-blue);
}