:root {
    --red: #e40000;
    --green_medium: #32b333;
    --dark-slate-blue: #1a2a57;
    --tangerine: #f6881f;
    --light-grey: rgba(216, 216, 216, 0.2);
    --brown-grey: #7c7c7c;
    --white: #ffffff;
}

.tabs a {
    color: var(--dark-slate-blue);
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 66px 8px 8px 8px;
    margin: 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border: solid 2px var(--dark-slate-blue);
    background-color: var(--white);
}

.tabs a.active {
    border: none;
    box-shadow: none;
}

/* back and bus# still need some work */

.back-bus-div {
    display: inline-grid;
    width: 100%;
    margin-top: 28px;
    grid-template-columns: 15px 59px 166px auto;
    grid-template-rows: 26px;
}

.back-button {
    grid-column: 2;
}

a.back-button {
    margin: 0;
    padding: 0;
}

.back-text {
    font-family: Arial;
    font-size: 13px;
    text-align: center;
    color: var(--dark-slate-blue);
    margin: 5.5px 4px;
}

.back-image {
    height: 26px;
}

.bus-number {
    grid-column: 4;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: var(--dark-slate-blue);
}

.from-to h4 {
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    color: var(--dark-slate-blue);
    width: 68px;
    padding-left: 11px;
    margin: 0;
}

.from-to {
    padding-top: 26px;
    display: inline-grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 23px 21px 23px;
}

.from-text {
    grid-column: 1;
    grid-row: 1;
}

.to-text {
    grid-column: 1;
    grid-row: 3;
}

.from-select {
    grid-column: 2 / span 2;
    grid-row: 1;
}

.to-select {
    grid-column: 2 / span 2;
    grid-row: 3 ;
}

.from-select, .to-select {
    width: 159px;
    height: 23px;
    font-size: 15px;
    border-radius: 7px;
    border: solid 1px var(--dark-slate-blue);
}

.view-alert {
    width: 59px;
    height: 51px;
    grid-column: 4;
    grid-row: 1 / 2;
    justify-self: center;
}

.alert-text {
    width: 59px;
    height: 14px;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: var(--red);
}