:root {
  --red: #e40000;
  --green_medium: #32b333;
  --dark-slate-blue: #1a2a57;
  --tangerine: #f6881f;
  --light-grey: rgba(216, 216, 216, 0.2);
  --brown-grey: #7c7c7c;
  --white: #ffffff;
}

.menu-button {
    width: 289px;
    height: 35px;
    border-radius: 17.5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: var(--light-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin: 20px auto 25px;
    border: 0;
}

.menu-button-text{
    display: inline-block;
    width: 181px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: var(--dark-slate-blue);
    text-decoration: none;
}

.small-transport-image{
  /* height: 29px; */
}

.small-transport-option{
  width: 31px;
  height: 37px;
  object-fit: contain;
  /* opacity: 0.55; */
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); */
  /* border: solid 2px #979797; */
  margin: 0 14px 0 0;
  /* background-color: var(--tangerine); */
}

.small-transport-container{
  display: flex;
  margin: 12px 0 0 15px;
}

.large-transport-option{
  margin: -10px auto 0 auto;
  width: 66px;
  height: 85px;
  text-align: center;
}

.small-transport-option-text{
  font-size: 8px;
  font-weight: bold;
  margin-top: -5px;
  color: var(--dark-slate-blue);
}

.large-transport-option-text{
  font-size: 12px;
  font-weight: bold;
  color: var(--dark-slate-blue);
}


a{
    text-decoration: none;
}

h1{
    font-size: 28px;
    margin: 14px 14px;
    text-align: left;
    color: var(--dark-slate-blue);
}