:root {
    --red: #e40000;
    --green_medium: #32b333;
    --dark-slate-blue: #1a2a57;
    --tangerine: #f6881f;
    --light-grey: rgba(216, 216, 216, 0.2);
    --brown-grey: #7c7c7c;
    --white: #ffffff;
}

.travel-grid {
    display: inline-grid;
    margin-top: 43px;
    grid-template-columns: 15px 25px 7px 103px 113px 59px;
    grid-template-rows: 25px 24px 25px 21px 53px;
}

.boarding-image {
    grid-column: 2;
    grid-row: 1;
}

.boarding-on {
    grid-column: 4;
    grid-row: 1;
    margin: 0;
    width: 103px;
    height: 20px;
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    color: var(--dark-slate-blue);
}

.platform {
    grid-column: 5;
    grid-row: 1;
    margin: 0;
    width: 113px;
    height: 22px;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: var(--dark-slate-blue);
}

.travel-image {
    grid-column: 2;
    grid-row: 3;
}

.travel-time {
    grid-column: 4;
    grid-row: 3;
    margin: 0;
    width: 103px;
    height: 20px;
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    color: var(--dark-slate-blue);
}

.times {
    grid-column: 1 / 7;
    grid-row: 5;
    margin: 0;
    padding: 16px 0;
    background-color: var(--light-grey);
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: var(--dark-slate-blue);
}

.ticket-grid {
    display: inline-grid;
    margin-top:19.1px;
    width: 100%;
    grid-gap: 5px;
    grid-template-rows: 15.1px 15.1px 15.1px 15.1px 11px;
    grid-template-columns: 69px 20px 160px auto;
}

.text {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: var(--dark-slate-blue);
}

.checkbox {
    width: 15.1px;
    height: 15.1px;
    margin: 0;
}

#one-way, #round-trip, #weekly, #monthly {
    grid-column: 2;
}

