:root {
    --red: #e40000;
    --green_medium: #32b333;
    --dark-slate-blue: #1a2a57;
    --tangerine: #f6881f;
    --light-grey: rgba(216, 216, 216, 0.2);
    --brown-grey: #7c7c7c;
    --white: #ffffff;
}

